.products {
    display: flex;
    flex-flow: row wrap;
    gap: 1.25rem;
    margin: 1rem;
    justify-content: center;
    width: 75%;
    margin-left: 19rem;
}

@media screen and (min-width: 1830px) {
    .products{ 
     margin-left: 30rem;
    }
}