.btn-dark-grey {
    background: var(--dark-grey);
    color: var(--white);
}

.cart_container {
    display: flex;
    flex-flow: row wrap;
    gap: 0.75rem;
}

.small_product_img {
    height: 100px;
    width: 100px;
}

.product_desc  {
    width: 10rem;
    line-height: 1.5rem;
}

select {
    padding: 8px 24px;
}

.product_delete {
    font-size: 1.5rem;
}

.cart_screen {
    margin-top: 3rem;
    margin-left: 14rem;
}

.cart_total_box {
    position: absolute;
    width: 20rem;
    height: 10rem;
    border: 1px solid black;
    top: 13rem;
    left: 34rem;
}

.btn_checkout {
    width: 19rem;
    height: 10rem;
}

@media screen and (max-width: 1200px) {
    .cart_total_box{
        position: relative;
        top: 6rem;
        left: -14rem;
    }
}

.wrap{
    display: flex;
    flex-direction: column;
    margin-left: 25rem;
}

.button {
    all: unset;
    cursor: pointer;
}