.container {
  width: 20%;
  height: 35rem;
  background-color: var(--dark-grey);;
  color: var(--white);
  position: absolute;
}

.filter_heading {
    display: flex;
    flex-direction: row;
}

.filter_clear {
    margin-left: auto;
}

.filter_clear:hover {
    cursor: pointer;
}

.filter_body {
    display: flex;
    flex-direction: column;
}

.custom-range{
    width: 14rem;
}