header {
    background-color: var(--dark-grey);;
    color: var(--white);
}

.grey-text {
    color: var(--dark-grey);
}


.link {
    color: var(--white);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
